<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/blog_page_now.css"/>
    <script
      src="https://kit.fontawesome.com/43dcc20e7a.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Blog page</title>
  </head>
  <body>
    <div class="firstContainer">
      <!-- NAVABAR -->
      <!-- <div class="navbarSpace">--------NAVBAR-----</div> -->
      <%-include('navbar',{signedIN:signedIN,
        if(usrDetails){ 
           usrDetails:usrDetails
       }  })-%>
      </div>

      <div class="searchCategory">
        <!-- Category -->
        <ul class="categoryDropdown">
          <li>All <span> | </span></li>
          <li>Amazon <span> | </span></li>
          <li>Adobe <span> | </span></li>
          <li>Google <span> | </span></li>
          <li>
            <div class="dropdown">
              <button
                class="btn btn-outline-info dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                See More
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <l1><a class="dropdown-item" href="#">Action</a></l1>
                <l1><a class="dropdown-item" href="#"> Another action </a> </l1>
                <l1
                  ><a class="dropdown-item" href="#">
                    Something else here
                  </a></l1
                >
              </ul>
            </div>
          </li>
        </ul>

        <!-- Search box  -->
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Search.." />

          <button class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <hr />

      <!-- CARDS DECK -->
      <div class="cardDeck">
        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">
            <%  for(let i=0 ; blogPosts && i<blogPosts.length ;i++){ %>
              <div class="col-md-6 col-lg-4 clm col-sm-6">
                <div class="card mb-4 clm2 box-shadow" data-aos="fade-up">
                    <img
                    class="card-img-top"
                    data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                    alt="Thumbnail [100%x225]"
                    style="height: 225px; width: 100%; display: block"
                    src="https://image.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg"
                    data-holder-rendered="true"
                  />
                  
                  <div class="card-body">
                    <div class="contentWritten">
                      <div class="headingBlog">
                        
                          <h4 class="blogHeading">
                            <%=  blogPosts[i].title.split(/\s+/).slice(0,10).join(" ") %>
                            </h4>
                
                      </div>
                      <div class="blogContent">
                        <p class="card-text">
                          <%=  blogPosts[i].description.split(/\s+/).slice(0,25).join(" ") %>
                        </p>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="btn-group">
                        <form action="/allblogs/blog" method="get" >
                          <button
                          type="submit"
                          class="btn btn-sm btn btn-outline-info"
                        >
                          Read More
                        </button>
                          <input type="hidden" id="blogTitle" name="blogTitle" value="<%=blogPosts[i].title.split(/\s+/).join('+')%>"/>
                        <input type="hidden" id="blogId" name="blogId" value="<%=blogPosts[i]._id%>" />
                        </form>
                        
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                  <!-- <div class="profile">
                  <h4 class="profileName commonProfileClass"><span class="byText">by </span>Shubham Sharma</h4> 
                  <div class="profileCircle">
                  <img  class="profileImage commonProfileClass" src="https://i.pinimg.com/originals/73/16/f5/7316f550de9ca0045e3d8d98a5bb5e44.png" alt="image not found">
                </div>
                </div> -->
                </div>
              </div>
           <% } %>
           
            </div>
          </div>
        </div>
      </div>
      <%-include("footer")-%>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init(
        {
            duration: 1000,
            //delay:500,
            offset:200,
        }
      );
    </script>


  </body>
</html>
